body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: blue;
  }
  
  p {
    color: black;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .styled-image {
    width: 100%; /* Adjust the width as needed */
    border: 2px solid #ddd; /* Add a border around the image */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    margin-top: 20px; /* Optional: Adjust the top margin */
}